/**---------------------------------------------------
--------------------------blog.css-----------------**/
*{
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: Microsoft YaHei,sans-serif;
}
body{
	background: #e2e2e2;
	width: 100%;
}
a{
	text-decoration: none;
}

/**----------------------------header----------------------**/
.header{
	width: 100%;
	height: 80px;
	background: #2C2F33;
	position: relative;
}
.nav-wrap{
	width: 980px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
.logo{
    position: absolute;
    bottom: 5px; 
    left: 0;
}
.nav-wrap nav{
	position: absolute;
	bottom: 5px;
	right: 0;
}
.menu{
	float: right;
	list-style: none;
}
.menu li{
	float: left;
	margin-left: 28px;
	font-size: 14px;
	font-family: sans-serif;
}
.icon-github{
	position: absolute;
	right: 10px;
	bottom: 0;
}

/**--------------------------container---------------------**/
.container{
	width: 980px;
	margin: 20px auto 0;
}
 
   /**----------------------content-------------------**/
.content{
	float: left;
	width: 710px;
	margin-right: 10px;
}
.post{
	background: #fff;
	position: relative;
	padding: 20px;
	margin-bottom: 10px;
}
.tag{
	position: absolute;
	width: 50px;
	left: -50px;
	top: 20px;
	font-size: 14px;
	text-align: center;
}
.tag p{
	line-height: 40px;
}
.tag_date{
	background: #47456d;
}
.tag_type{
	background: #92c0ef;
}
.post_title{
	font-size: 16px;
	color: #47456d;
	margin-bottom: 10px;
}
.subtitle{
	font-size: 12px;
	color: #666;
	margin-bottom: 20px;
}
.post_body{
	font-size: 12px;
	margin-bottom: 30px;
	color: #0e0e00;
}
.post_pulish{
	text-align: right;
	font-size: 12px;
	color: #0e0e00;
}
.post_page{
	width: 700px;
	text-align: center;
	font-size: 16px;
	margin-bottom: 200px;
}
.pagination{
	padding-top: 10px;
	list-style: none;
}
.page_li{
	margin: 0 5px;
	display: inline-block;
	color: #000;
}
.page_li a{
	padding: 8px 15px;
	background: #fff;
	color: #000;
}
.page_li a:hover{
	background: #92c0ef;
	color: #fff;
}

   /**---------------------sidebar---------------------**/
.sidebar{
	width: 260px;
	float: right;
}
.sidebar_con{
	background: #fff;
	margin-bottom: 10px;
}
.sidebar_form{
	padding: 20px;
}
.search{
	border: 1px solid #e2e2e2;
	height: 40px;
	position: relative;
}
.search:hover{
	border: 1px solid #47456d;
}
#search{
	background: url('../img/search.png') no-repeat;
	width: 170px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
}
#search:focus{
    background: none;
}
#submit{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 40px;
	font-size: 18px;
	background: #e2e2e2;
	border: none;
}
#submit:hover{
	background: #2c2f33;
}
.post_category{
	list-style: none;
}
.post_category li{
	padding: 20px;
	border-left: 5px solid #92c0ef;
	border-bottom: 1px solid #92c0ef;
}
.post_category li:hover{
	border-left: 5px solid #2c2f33;
}
.post_category li a{
	color: #888;
	font-size: 14px;
}
.post_category li a:hover{
	color: #000;
}
.sidebar_calendar{
	padding: 20px;
}
.calendar{
	border-collapse: collapse;
	color: #888;
	font-size: 12px;
	width: 220px;
	height: 220px;
	text-align: center;
}
.calendar_title{
	border-bottom: none;
}
.calendar_dark{
	font-weight: 700;
	color: #ec2f3f;
}
.calendar_dark > td{
	color: #ec2f3f !important;
}
.calendar_dark{
	color: #ec2f3f !important;
}
.calendar tr{
	border-bottom: 1px solid #92c0ef;
}
.calendar tr td{
	color: #888;
}
.sidebar_tag{
	padding: 20px;
	margin-bottom: 100px;
}
.tag_title{
	font-size: 12px;
	color: #675;
	margin-bottom: 20px;
}
.tag_item{
	color: #47456d !important;
	font-size: 12px;
}
.tag_item span{
	color: #47456d !important;
}
.tag_large{
	font-size: 30px;
}
.tag_medium{
	font-size: 20px;
}



 /**---------------footer------------**/
 .footer{
 	background: #000;
 	clear: both;
 }   
 .nav_footer{
 	padding: 20px 0;
 	
 }
 .menu_footer{
 	text-align: center;
 	list-style: none;
 }
 .menu_footer li{
    display: inline;
    margin: 0 10px;
 }
 .link{
 	width: 980px;
 	border-top: 2px solid #fff;
 	padding: 15px 0;
 	text-align: center;
 	overflow: hidden;
 	margin: 10px auto 50px;
 }
 .link_part{
 	width: 196px;
 	float: left;
 }
 .link_part h3{
 	font-size: 15px;
    margin: 5px 0 15px;
 }
 .link_content{
 	line-height: 170%;
    list-style: none;
 }
 .copyright{
 	text-align: center;
 }
 .copyright img{
 	margin: 20px auto 10px;
 }