/**---------------------------------------------------
--------------------------gallery.css-----------------**/
*{
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: Microsoft YaHei,sans-serif;
}
body{
	background: #e2e2e2;
	width: 100%;
}
a{
	text-decoration: none;
}

/**----------------------------header----------------------**/
.header{
	width: 100%;
	height: 80px;
	background: #2C2F33;
	position: relative;
}
.nav-wrap{
	width: 980px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
.logo{
    position: absolute;
    bottom: 5px; 
    left: 0;
}
.nav-wrap nav{
	position: absolute;
	bottom: 5px;
	right: 0;
}
.menu{
	float: right;
	list-style: none;
}
.menu li{
	float: left;
	margin-left: 28px;
	font-size: 14px;
	font-family: sans-serif;
}
.icon-github{
	position: absolute;
	right: 10px;
	bottom: 0;
}

/**-----------------------container----------------------**/
.container{
	margin: 28px auto 0;
	width: 980px;
}

/**-----------------------gallery----------------------**/
.gallery{
	width: 710px;
	box-sizing: border-box;
	float: left;
}
.gallery_tab{

}
.tab_title{
	list-style: none;
}
.tab_item{
	float: left;
	background: #fff;
    padding: 15px 20px 20px;
    border-top: 5px solid #47456d;
    font-size: 13px;
    margin: 0 1px 1px 0;
}
.tab_item:hover{
    border-top-color: #47456d; 
    cursor: pointer;
}
.tab_item_a{
	color: #000;
}
.tab_item_all{
	border-top-color: #47456d;
}
.tab_item_js{
	border-top-color: #522a5c;
}
.tab_item_ui{
	border-top-color: #d2a6ff;
}
.tab_item_frame{
	border-top-color: #ffe188;
}
.tab_item_app{
	border-top-color: #ffe188;
}


















/**---------------footer------------**/
 .footer{
 	background: #000;
 	clear: both;
 }   
 .nav_footer{
 	padding: 20px 0;
 	
 }
 .menu_footer{
 	text-align: center;
 	list-style: none;
 }
 .menu_footer li{
    display: inline;
    margin: 0 10px;
 }
 .link{
 	width: 980px;
 	border-top: 2px solid #fff;
 	padding: 15px 0;
 	text-align: center;
 	overflow: hidden;
 	margin: 10px auto 50px;
 }
 .link_part{
 	width: 196px;
 	float: left;
 }
 .link_part h3{
 	font-size: 15px;
    margin: 5px 0 15px;
 }
 .link_content{
 	line-height: 170%;
    list-style: none;
 }
 .copyright{
 	text-align: center;
 }
 .copyright img{
 	margin: 20px auto 10px;
 }